/* Footer.css */

.footer {
  background-color: #000;
  color: white;
  
  padding: 3rem 0;
  width: 100%;
}

.footer-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links li a {
  text-decoration: none;
  color: #ccc;
  font-size: 0.875rem;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: white;
}

.stay-up-to-date {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stay-title h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
}

.stay-form {
  display: flex;
  align-items: right;
  
}

.email-input {
  padding: 0.5rem;
  font-size: 0.875rem;
  color: #333;
  border-radius: 0.375rem 0 0 0.375rem;
  border: none;
}

.sign-up-btn {
  padding: 0.5rem 1rem;
  background-color: white;
  color: #333;
  font-weight: medium;
  font-size: 0.875rem;
  border-radius: 0 0.375rem 0.375rem 0;
  border: none;
  cursor: pointer;
}

.sign-up-btn:hover {
  background-color: #f5f5f5;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-links a {
  color: #ccc;
  margin: 0 1rem;
  text-decoration: none;
}

.social-links a:hover {
  color: white;
}

.back-to-top {
  text-align: center;
  margin-top: 2rem;
}

.back-btn {
  background-color: #333;
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.arrow-up {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
}

.custom-hr {
  width: 80%;
  margin: 0 auto 1rem auto;
  border-top: 2px solid #444;
}

.footer-bottom p {
  color: #ccc;
  font-size: 0.875rem;
}
